extends layout

block content
	.jumbotron
		h1 Curso de Node.js Acadtec
		p.lead Acesso nosso site e fique por dentro de novidades
		p
			a(class="btn btn-lg btn-success" href="http://acadtec.com.br/site/" role="button" target="_blank") Visitar o site
	.row
		.col-lg-4
			h2 Acesso por 2 anos
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
			p
				a(class="btn btn-primary", href="#", role="button") Visualizar
		.col-lg-4
			h2 Plano assinatura mensal
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
			p
				a(class="btn btn-primary", href="#", role="button") Visualizar
		.col-lg-4
			h2 Em tempo real
			p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet
			p
				a(class="btn btn-primary", href="#", role="button") Visualizar